.nav  * {
    display: inline;
    color: white;
}
.nav {
    background-color: black;
    margin: 0;
}
.head {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.ul {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}
.ul *{
    margin-left: 20px;
    text-decoration: none;
}
body{
    margin: 0;
}
.services{
    text-align: center;
}
.services h1{
    font-size: 50px;
}
.logo {
    background-color: rgb(255, 200, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}
.logo-img {
    margin: 10px;
}
.cards {
    margin-top: 100px;
}
.card {
    text-align: center;
    width: 33%;
    display: inline-block;

}